.container {
  width: 100%;
}
.row-header {
  margin: 0px auto;
  padding: 0px auto;
}
.row-content {
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}
.footer {
  background-color: #f6e6e4;
  margin: auto;
  padding: 20px 20px 20px 20px;
  position: absolute;
  width: 100%;
  left: 0;
  top: 2850px;
}
.jumbotron {
  padding: 0px 0px 0px 0px;
  margin: 0px auto;
  color: floralwhite !important;
}
.address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f;
}
body {
  padding: 5px 0px 0px 0px;
  z-index: 0px;
}

.navbar-dark {
  background-color: #ac0d0d;
}

select {
  background-color: #ac0d0d;
  color: floralwhite !important;
  margin-left: 10px;
  border: none;
}

.right-addon input {
  padding-right: 30px;
  width: 720px;
}
.inner-addon {
  position: relative;
}

.right-addon .fa {
  right: 0px;
}
.inner-addon .fa {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
}

.item {
  display: inline-block;
  flex: 0 0 auto;
  margin-right: 10px;
}

.scrolling-wrapper {
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 0px 0px 0px 0px;
  margin: 0px auto;
  left: 0;
  position: relative;
  right: 0;
}
.text-center {
  position: relative;
  top: 139px;
  color: floralwhite;
}

.text-center:hover {
  font-size: x-large;
  cursor: pointer;
}

#companies {
  margin-top: -270px;
  margin-bottom: 50px;
  margin-left: 70px;
  margin-right: 50px;
}

.company_img:hover {
  cursor: pointer;
}

#stakeholders {
  padding: 0px 20px 0px 20px;
  color: black;
  position: absolute;

  top: 2500px;
}

#offers {
  position: relative;
  top: 30px;
}

.stakeholder {
  float: left;
  margin-left: 50px;
}
.card-header {
  background-color: black;
  opacity: 90%;
  color: floralwhite;
}

.card {
  border: none;
  box-shadow: inset 1px 1px rgba(255, 255, 255, 0.2),
    inset -1px -1px rgba(255, 255, 255, 0.1),
    1px 3px 24px -1px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  background-image: linear-gradient(
    125deg,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.2) 70%
  );
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.card.border-secondary {
  border: none;
  box-shadow: inset 1px 1px rgba(255, 255, 255, 0.2),
    inset -1px -1px rgba(255, 255, 255, 0.1),
    1px 3px 24px -1px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  background-image: linear-gradient(
    125deg,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.2) 70%
  );
  margin-right: 15px;
}

.card.border-secondary a {
  color: #fff;
}

.card.border-secondary .text-muted {
  color: rgba(255, 255, 255, 0.7);
}

.card.border-secondary .card-header {
  color: #000;
  background-color: rgba(43, 7, 7, 0.103);
  border-color: rgba(255, 255, 255, 0.4);
  color: #0f0f0f;
  font-size: larger;
}

#ammanOffer {
  background-image: url("../images/ammanOffer.png");
  background-position: inherit;
  width: 283px;
  height: 283px;
}

#omqaisOffer {
  background-image: url("/images/omqaisOffer.png");
  background-position: inherit;
  width: 283px;
  height: 283px;
}

#rumOffer {
  background-image: url("/images/rumOffer.png");
  background-position: inherit;
  width: 283px;
  height: 283px;
}

#rumOffer {
  background-image: url("/images/rumOffer.png");
  background-position: inherit;
  width: 283px;
  height: 283px;
}

#deadseaOffer {
  background-image: url("/images/deadseaOffer.png");
  background-position: inherit;
  width: 283px;
  height: 283px;
}

#petraOffer {
  background-image: url("/images/petraOffer.png");
  background-position: inherit;
  width: 283px;
  height: 283px;
}

#alsaltOffer {
  background-image: url("/images/alsaltOffer.png");
  background-position: inherit;
  width: 283px;
  height: 283px;
}

tr {
  position: relative;
  left: 80px;
}

.btn-secondary {
  color: #ac0d0d;
  background-color: transparent;
  border-color: #ac0d0d;

  width: 120px;
}

.btn-secondary:hover {
  color: #fff;
  background-color: #ac0d0d;
  border-color: #ac0d0d;
}

.footer-clean {
  padding: 50px 0;
  background-color: #fff;
  color: #4b4c4d;
}

.footer-clean h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.footer-clean ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-clean ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-clean ul a:hover {
  opacity: 1;
}

.footer-clean .item.social {
  text-align: right;
}

@media (max-width: 767px) {
  .footer-clean .item {
    text-align: center;
    padding-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .footer-clean .item.social {
    text-align: center;
  }
}

.footer-clean .item.social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin-left: 10px;
  margin-top: 22px;
  color: inherit;
  opacity: 0.75;
}

.footer-clean .item.social > a:hover {
  opacity: 0.9;
}

@media (max-width: 991px) {
  .footer-clean .item.social > a {
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .footer-clean .item.social > a {
    margin-top: 10px;
  }
}

.footer-clean .copyright {
  margin-top: 14px;
  margin-bottom: 0;
  font-size: 13px;
  opacity: 0.6;
}
