@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

:root{
    --main_color: #F05D5E;
    --side_color: #eeeeee;
    --text_main_color: #000000;
    --text_side_color: #bbbbbb;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: auto;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.main_view{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    min-height: 100vh;
}

.header{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 72px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    font-family: inherit;
    font-size: 14px;
}

.logo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.header_options_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.goog-te-combo{
    display: block;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 2px #000000 solid;
    font-family: inherit;
    font-size: inherit;
}

.goog-logo-link{
    display:none !important;
}
.goog-te-gadget{
    color:transparent!important;
}

 .goog-tooltip {
    display: none !important;
}
.goog-tooltip:hover {
    display: none !important;
}
.goog-text-highlight {
    background-color: transparent !important;
    border: none !important; 
    box-shadow: none !important;
}

.header_option{
    display: block;
    margin-left: 14px;
    padding:7px 28px;
    border: 1px #000000 solid;
    border-radius: 50px;
    color: var(--text_main_color);
    text-decoration: none;
}

#signup_anchor{
    background-color: var(--main_color);
    border: 1px var(--main_color) solid;
    color: #ffffff;
}

.header_option:hover{
    text-decoration: underline;
}

.content{
    flex: 1;
    width: 1240px;
    margin: 24px auto 24px auto;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 4px 24px;
    background-color: var(--text_side_color);
}

.footer .links a,.footer p{
    font-family: inherit;
    font-size: 14px;
    color: #4e4e4e;
    padding: 7px;
    text-decoration: none;
}

.footer a:hover{
    text-decoration: underline  ;
}

