.content_view_box{
    display: none;
}

.refresh_button_container{
    width: 100%;
}

.refresh_button{
    display: block;
    width: 18px;
    margin-left: auto;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.refresh_button svg{
    display: block;
    width: 18px;
    height: 18px;
}

.view_box_search_container{
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 36px;
    border-radius: 50px;
    overflow: hidden;
    border: 1px var(--side_color) solid;
}

.gov_search_input{
    display: block;
    width: 95%;
    padding: 7px;
    font-family: inherit;
    font-size: inherit;
    outline: none;
    border: none;
}

.gov_search_button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5%;
    padding: 10px;
    background-color: var(--main_color);
    border: none;
    cursor: pointer;
}

.gov_search_button svg{
    display: block;
    width: 18px;
    height: 18px;
    fill: #ffffff;
}

.content_view_box_information{
    text-align: center;
    color: var(--text_side_color);
    font-family: inherit;
    font-size: 18px;
}

.requests_table{
    width: 100%;
}

.requests_table tr th{
    text-align: center;
    padding: 24px 6px;
    font-family: inherit;
    font-size: 14px;
    font-weight: 600;
    text-align: left;
}

.requests_table tr td{
    width: calc(100%/8);
    text-align: center;
    padding: 24px 6px;
    font-family: inherit;
    font-size: 14px;
    text-align: left;
    border-top: 1px var(--side_color) solid;
}

.requests_table tr td button{
    width: 100%;
    background-color: transparent;
    border: none;
    font-family: inherit;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    padding: 7px;
    border-radius: 50px;
    border: 1px #000000 solid;
}

.requests_table tr td button:hover{
    text-decoration: underline;
}

.accept_request{
    background-color: var(--main_color) !important;
    color: #ffffff;
    border: 1px var(--main_color) solid !important;
}

.view_more_container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 36px;
}

.view_more_button{
    background-color: var(--main_color);
    border: 1px var(--main_color) solid;
    padding: 8px 24px;
    color: #ffffff;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    border-radius: 50px;
}

.view_more_button:hover{
    text-decoration: underline;
}

.companys_wrapper{
    display: flex;
    flex-wrap: wrap;
}

.company{
    height: 300px;
    width: calc((100% / 4) - 8px);
    border-radius: 4px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    margin: 4px;
}

.company_image_wrapper img{
    display: block;
    width: 128px;
    height: 128px;
    object-fit: cover;
    margin: auto;
    border-radius: 50%;
    transform: translateY(-20px);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.company_name_wrapper{
    font-family: "Poppins" , "sans-serif";
    font-size: 18px;
    text-align: center;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
}

.company_info_wrapper{
    margin: 14px;
}

.company_info{
    display: block;
    font-family: inherit;
    font-size: 14px;
    text-align: left;
    margin-bottom: 7px;
    color: var(--text_main_color);
}

.company_info a{
    color: var(--text_main_color);
}

.company_info span{
    color: var(--main_color);
}

.passengers_container{
    border-top: 1px var(--side_color) solid;
    margin-top: 16px;
}

.passengers_container h3{
    font-family: inherit;
    font-size: 18px;
    color: var(--text_side_color);
    font-weight: 500;
}

.passengers_wrapper_popedup table{
    margin-top: 16px;
    width: 100%;
}

.passengers_wrapper_popedup table tr{
    text-align: left;
}

.passengers_wrapper_popedup table tr th{
    color: var(--text_side_color);
}

.passengers_wrapper_popedup table tr th , .passengers_wrapper_popedup table tr td{
    padding-bottom: 8px;
    font-weight: 500;
}

.passengers_wrapper_popedup table tr td:nth-child(1){
    color: var(--text_side_color);
}
